<div class="contact">
    <div class="container container--spaced">
        <div class="channels">
            <div class="channel">
                <a class="channel__item channel__item--twitter" href="https://www.twitter.com/Snowsportsheff">Twitter</a>
            </div>
            <div class="channel">
                <a class="channel__item channel__item--facebook" href="https://www.facebook.com/snowsportforsheffield">Facebook</a>
            </div>
            <div class="channel">
                <a class="channel__item channel__item--email" href="snowsportforsheffield@gmail.com">Email</a>
            </div>
        </div>
    </div>
</div>