<div id="contact" class="contact">
    <div class="container container--spaced">
        <h2>Contact us</h2>
        <ul class="channels">
            <li class="channel">
                <a class="channel__item channel__item--twitter" href="https://www.twitter.com/Snowsportsheff">Twitter</a>
            </li>
            <li class="channel">
                <a class="channel__item channel__item--facebook" href="https://www.facebook.com/snowsportforsheffield">Facebook</a>
            </li>
            <li class="channel">
                <a class="channel__item channel__item--email" href="snowsportforsheffield@gmail.com">Email</a>
            </li>
        </ul>
    </div>
</div>