<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
    <head>
        <title>Snowsport for Sheffield</title>
        {% include metadata.html %}
        <link rel="stylesheet" href="{{ site.url }}/css/style.css?{{'now' | date: '%s'}}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    </head>
    <body class="no-js">
    <script type="text/javascript">function hasClass(e,t){return e.className.match(new RegExp("(\\s|^)"+t+"(\\s|$)"))}var el=document.body;var cl="no-js";if(hasClass(el,cl)){var reg=new RegExp("(\\s|^)"+cl+"(\\s|$)");el.className=el.className.replace(reg," js-enabled")}</script>

    <div class="header">
        <div class="header__content">
            <div class="logo">
                <a href="{{ site.url }}/">
                    <img src="{{ site.url }}/images/snowsport-for-sheffield.png" alt="Snowsport for Sheffield logo">
                </a>
            </div>
        </div>
    </div>
