<div class="voices">
    <blockquote>
        <p>
            Everybody- but especially our young people- need local activities they can access to healthy
        </p>
        <p>
            Nusrat ali
        </p>
        <p>
            <time datetime="2015-05-28">28 May 2015</time>
        </p>
    </blockquote>
    <a class="add-your-voice" href="http://www.ipetitions.com/petition/snow-sport-for-sheffield">Add your voice!</a>
</div>

<div class="twitter">
    Twitter
</div>

<div class="copyright">
    Copyright
</div>