*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: $color-primary;
}

h1, h2, h3 {
  color: $color-primary;
  margin: 0 0 .65em;
  font-weight: 400;
  line-height: 1.25em;

  &:last-child {
    margin-bottom: 0;
  }
}

h2 {
  font-size: 2.25em;
  margin: $spacing-large * 1.5 0 $spacing-large;

  @include breakpoint($beta) {
    text-align: center;
  }
}

p {
  margin: 0 0 $spacing;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  font-family: $font;
}

figure,
blockquote {
  margin: 0;
  padding: 0;
}

.group {
  @include container;
}

@include breakpoint($zero) {
  .one-fourth {
    @include gallery(6 of 12);
  }
}

@include breakpoint($beta) {
  .one-fourth {
    @include gallery(4 of 12);
  }
}

@include breakpoint($charlie) {
  .one-half {
    @include gallery(6 of 12);
  }

  .one-third {
    @include gallery(4 of 12);
  }

  .one-fourth {
    @include gallery(3 of 12);
  }
}

.text-center {
  text-align: center;
}

// Header
.header {
  margin: auto;
  overflow: hidden;

  @include breakpoint($beta) {
    height: 185px;
    background: url("../images/header-background.png") no-repeat top right;
  }

  @include psuedo(before) {
    width: 1200px;
    height: 85px;
    background: url("../images/header-background-hill.png") no-repeat top right;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

.header__content {
  max-width: $maxwidth;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}

// Logo
.logo {
  padding: 20px 50px 40px;
  text-align: center;

  @include breakpoint($beta) {
    padding: 32px 0 0;
    text-align: left;
  }

  img {
    vertical-align: middle;
  }
}

// Navigation
.navigation_container {
  background: $color-primary;

  ul {
    @include reset;
    @include clearfix;
    display: flex;
  }

  li {
    display: block;
    float: left;
    flex: 1 0 auto;
    text-align: center;
  }

  a {
    display: block;
    color: white;
    padding: .75em 1em;
    text-decoration: none;
  }
}

.container {
  @include clearfix;
  max-width: $maxwidth;
  margin: auto;
}

.container--spaced {
    padding: 0 15px;
}

.teaser {
  border-bottom: 1px solid $color-secondary;
}

.hero {
    background-color: $color-primary;
    border-bottom: 1px solid $color-secondary;

  padding-bottom: $spacing-large;

    text-align: center;
    color: white;
    font-size: 18px;

    .container {
        max-width: 700px;
    }
}

.hero__title {
    color: white;
  font-size: 36px;
}

.hero__content {
  margin-bottom: $spacing-large;
  font-size: 1.15em;
  line-height: 1.45em;
}

.button {
  display: inline-block;

  background-color: $color-primary;
  border-radius: 6px;
  border: 1px solid $color-primary-dark;
  color: white;

  padding: 8px 16px 8px 26px;
  margin-bottom: $spacing / 2;

  text-decoration: none;

  &:hover {
    background-color: $color-primary-dark;
    border: 1px solid $color-primary-darker;
  }

  @include psuedo(after) {
    @include arrow(right, 6px, white);
    left: 10px;
    top: 50%;
    margin-top: -5px;
  }
}

.button--alternative {
  background-color: $color-primary-dark;
  border: 1px solid $color-primary-darker;

  &:hover {
    background-color: $color-primary-darker;
    border: 1px solid $color-primary-darkest;
  }
}

.partners__partner {
  height: 125px;
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.partners__partner:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.partners__partner a {
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
}

.petition__quote {
  margin-bottom: $spacing;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.petition__quote {
  background: #f9f9f9;
  border-left: 5px solid #eee;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em 1em;
}

blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before,
blockquote:after {
  color: $color-primary;
  font-size: 2em;
  line-height: 0;
  vertical-align: -0.5em;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

blockquote:before {
  content: open-quote;
  margin-right: 0.25em;
}

blockquote:after {
  content: close-quote;
  margin-left: 0.25em;
}

.petition__quote figcaption {
  margin-top: $spacing / 2;
  color: #666;
  text-align: right;
  font-size: 14px;
}

.channels {
  @include clearfix;
  padding: $spacing 0 0;
}

.channel {
  @include breakpoint($zero) {
    @include gallery(4 of 12);
  }

  &__item {
    padding: $spacing 0;
    border: 1px solid #888;
    display: block;
    transition: all .2s ease-in-out;
    margin-bottom: $spacing;
    border-radius: 6px;
    text-align: center;
  }

  &__item--email {
    &, &:visited {
      background: #F58D32;
      border-color: darken(#F58D32, 20%);
      color: white;
    }
    &:hover {
      background: lighten(#F58D32, 25%);
      border-color: #F58D32;
      color: black;
    }
  }
  &__item--twitter {
    &, &:visited {
      background: #55ACEE;
      border-color: darken(#55ACEE,20%);
      color: white;
    }
    &:hover {
      background: lighten(#55ACEE,25%);
      border-color: #55ACEE;
      color: black;
    }
  }
  &__item--facebook {
    &, &:visited {
      background: #3b5998;
      border-color: darken(#3b5998,20%);
      color: white;
    }
    &:hover {
      background: lighten(#3b5998,35%);
      border-color: lighten(#3b5998,10%);
      color: black;
    }
  }
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all .2s ease; /* Fade to color for Chrome and Safari */
  backface-visibility: hidden; /* Fix for transition flickering in Firefox */

  &:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

// No grayscale for iphone and ipad
@media screen and (max-device-width: 1024px) and (orientation: landscape),
screen and (max-device-width: 1024px) and (orientation: portrait) {
  .grayscale {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.media__item {
  margin-bottom: $spacing-large;
  
  @include breakpoint($beta) {
    display: flex;
  }
}

.media__information {
  @include breakpoint($beta) {
    @include span(first 6 of 12);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.media__embed {
  @include breakpoint($beta) {
    @include span(6 of 12);
  }
}

.media__title {
  margin-bottom: $spacing;
  font-size: 1.5em;
}

.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.contact {
  background-color: $color-primary;
  border-top: 1px solid $color-secondary;
}