*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: $color-blue;
}

h1, h2 {
  color: $color-blue;
  margin: 0 0 .5em;

  &:last-child {
    margin-bottom: 0;
  }
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

// Header
.header {
  background: $color-blue;
}

.header__content {
  max-width: $maxwidth;
  margin: auto;
}


// Logo
.logo {
  background: $color-blue;

  img {
    vertical-align: middle;
  }

  @include psuedo(before) {
    width: 100%;
    height: 100%;
    right: 100%;
    top: 0;
    background: white;
  }
}

// Navigation
.navigation_container {
  background: $color-blue;

  ul {
    @include reset;
    @include clearfix;
    display: flex;
  }

  li {
    display: block;
    float: left;
    flex: 1 0 auto;
    text-align: center;
  }

  a {
    display: block;
    color: white;
    padding: .75em 1em;
    text-decoration: none;
  }
}

.container {
  @include clearfix;
  padding: $spacing;
  max-width: $maxwidth;
  margin: auto;
}

.sidebar {
  @include breakpoint($beta) {
    float: left;
    width: 35%;
    margin-left: -100%;
  }

  @include breakpoint($delta) {
    width: 25%;
  }
}

.content {
  @include breakpoint($beta) {
    float: left;
    width: 65%;
    margin-left: 35%;
  }

  @include breakpoint($delta) {
    width: 75%;
    margin-left: 25%;
  }
}

.fb-video {
  margin-bottom: $spacing;
}