@import "variables";

// Susy
@import "../bower_components/susy/sass/susy";

.container {
  width: 600px;
}

.media__embed {
  display: none;
}

.one-fourth {
  float: left;
  width: 20%;
  margin: 0 2.5%;
}

.channel {
  float: left;
  width: 30%;
  margin: 0 1.5%;
}