{% include header.html %}

<div class="hero">
    <div class="container container--spaced">
        {% include hero.html %}
    </div>
</div>

<div class="teaser">
    <div class="container">
        {% include teaser.html %}
    </div>
</div>

<div class="container container--spaced">
    <div class="content">
        {{ content }}
    </div>

    <div class="petition">
        <div class="petition__block">
            Lorem ipsum
        </div>
        <div class="petition__block">
            Lorem ipsum
        </div>
        <div class="petition__block">
            Lorem ipsum
        </div>
        <div class="petition__block">
            Lorem ipsum
        </div>
        <div class="petition__block">
            Lorem ipsum
        </div>
    </div>
</div>

{% include footer.html %}
